
/*초기화*/
*{margin:0;padding:0;}
a{text-decoration: none;color:white;}
ul,li{list-style: none;}
html,body{height:100%;}
a.btn{border:none;}
.list-group-item{border:none;}  /*list-group-flush 은 겉테두리만 빼고싶을때 사용*/
p.list-contents{margin-bottom:0;}
.list-group-item:first-child,.list-group-item:last-child{border-radius:0;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color:#B3006C;}

i:hover{color:white;opacity: 0.3;}
h2{padding-bottom:60px;}


body{
    width:100%;
    font-size:20px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color:white;
}


/*폰트색상 설정*/
h1{font-size:72px; line-height: 98px;}
h2{font-size:48px;}
h3{font-size:28px;color:#B3006C;}
ul,p.h3{color:black;}
span.pink{color:#B3006C;}
/*.list-group-item-action{color:white;}*/

.padding{padding:60px;}

/*nav 메뉴 너비,컬러,배열설정*/
.nav-item > a:active{color:#B3006C;}
.nav-item{width:150px;}
.nav-item>a{text-align:right;}

/*헤더버튼 1,2 - 앱스토어,구글플레이 다운로드*/
/*a.btn{background-color:#B3006C;}*/
#footer>div.row{margin:0;}


/*moblie*-576px이하 해상도에서 -xs*/
@media(max-width:575.98px){
    body{font-size:0.8em;}
    div.ip{margin:0 auto;}
    #navbarNav{background-color:white;}
    ul.list-group-horizontal{flex-direction:column;}
    .row{padding:0;}
    /*header*/
    #header{text-align:center;}

    /*content*/
    .bt_iphone{text-align: center;}
    /*안전수칙*/
    div.safeBox{text-align:left;}
    .safeBox h3,.h3{text-align: center;}
    #content3 i{padding-right:5px;}
    #content3 .list-group-item{padding:0.75rem 0 0.75rem 0;}
    .btn-group-lg>.btn, .btn-lg{padding:2px;}
}
/*tablet-xs~md*/
@media (min-width:576px) and (max-width:991.98px){
    nav.navbar{padding:10px 30px;}
    /*.ip{margin-left:auto;margin-right:auto;}*/
    div.text{text-align:center;}
    .container-fluid{padding:0;}
    .padding{padding:30px;}
    #content3{background-position:50% 0;}
    .row{margin:0;}
    div.safeBox,.list-group-item{background:transparent;}
    div.safeBox{min-width:570px;}
    #content3 h3{padding-bottom:30px;}
    p.h3{padding-bottom:30px;}
    #content3 i{padding-right:20px;}

}
/*pc*/
@media(min-width:992px){
    .container-fluid{padding:50px;} /*모든 컨테이너의 padding값 조절*/
    /*안전수칙*/
    #content3{padding:50px;background-size:cover;}
    #content3 h3{padding-bottom:60px;}
    div.safeBox{background:white;min-width:570px;}
    
    p.h3{padding-bottom:60px;}
    /*이용방법*/
    #content2 h3{padding:100px 0 100px 0;text-align:left;}
    .userGuide{padding-bottom:100px;}
    /*footer*/
    .text{text-align:right;}
    #content3 i{padding-right:20px;}
}





