/*@charset "utf-8";*/

    #header{
        background:url("../img/1.png");
        
        height:910px;
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;
       /* background:red;height:500px;*/
    }
    .layer{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    }

    /*nav의 로고*/
    a.navbar-brand{
        display:inline-block;
        width:180px;/*너비지정*/
        text-indent:100%;/*너비와 동일시 해주면 다음행으로 감*/
        white-space: nowrap;    /*다음행으로 가는것을 막고 */
        overflow: hidden;/*안보이게처리*/
        background:url("../img/h_logo.svg");
        background-size:contain;
        background-repeat: no-repeat;
    }
    h1{padding-top:150px;}
    .btn{padding:0;}

/*mary electrify....*/
    #content{
        background:url("../img/2.png");
        background-size:cover;
        background-repeat: no-repeat;
        background-position-x: 30%;
    }
    #content>div.row{min-height:50em;} 



/*이용방법*/
    #content2{text-align: center;}
    
    #content2 .list-group-item{max-height:290px;vertical-align: middle;}
    /*p.imgHeight{min-height:144px;}*/
    p.li_subTitle{font-weight:bold;color:#B3006C;}
    

/*안전수칙*/
    #content3{
        background-image:url("../img/safe.svg");
       /* background-size:cover;*/
        background-repeat: no-repeat;
    }
    
    
    #content3>div.row{min-height:440px;}
    #content3 .container-fluid{margin-left:1rem;}

    .safeBox .list-group-item{padding-left:0;}

 

/*footer*/
    #footer{background:#B3006C;font-size:22px;}
    #footer a.list-group-item{background-color:transparent;}
    
   
/*content*/

.iphone_container{max-width:355px;}
.iphone{padding-bottom:200%;width:100%;position: relative;}

.ip{
    width:100%;
    height:100%;
    background-image:url("../img/iphone2-01.png");
    position: absolute;
    left:0;
    top:0;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.ipMap{position:absolute;left:9.4%;top:12.7%;right:9.4%;bottom:12.7%;}
.ipMap>img{width:100%;}


/*footer*/
div.info{font-size:18px;font-weight:100;padding-top:20px;}
/*socialButton*/
.btn{background-color:transparent;border:none;color:white;}
.btn-group-lg>.btn, .btn-lg{font-size:2rem;}


.justfy .list-group-item{background:transparent;}
p.copyright{font-weight:bold;}

