<!DOCTYPE html>
<html>
  <head>
    <!-- html5 boilerplate codes, html-cache:expire, js/css cache problem: ?ver, gAnalytics -->
    <meta charset="utf-8">
    <title>anguar 1.x + browserify + node require</title>
    <!-- <link rel="stylesheet" href="/css/style.css" type="text/css">
    
    <script type="text/javascript" src="js/bundle.js"></script>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <!-- -->
    <script type="text/javascript" src="dataservice.js"></script>
    <script type="text/javascript" src="controller.js"></script>

    <script type="text/javascript" src="app.js"></script>
    
    
    
  </head>
  <body>
    <div class="container" ng-app="myApp" ng-controller="MyController">
      Hello World
      <br>
      {{user.name}}
      <p ng-bind="user.name"></p>
    </div>
  </body>
</html>