<!DOCTYPE html>
<html>
  <head>
    <!-- html5 boilerplate codes, html-cache:expire, js/css cache problem: ?ver, gAnalytics -->
    <meta charset="utf-8">
    <title>anguar 1.x + browserify + node require</title>
    <!-- <link rel="stylesheet" href="/css/style.css" type="text/css">
     -->
    
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="./main.css" type="text/css" >

     <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
    <!--
        nodejs 환경에서는 패키지매니저인 import나 export는 mpn
        자바스크립트 파일을 합쳐서 하나로 만드는 거는 browseryfy or webpack
     -->

   
  </head>
  <body>
    <div class="container alert alert-primary" role="alert" ng-app="myApp" ng-controller="MyController2">
      Hello World
      <br>
      {{user.name}}
      <p ng-bind="user.name"></p>
    </div>


  </body>
</html>